<!DOCTYPE html>

<html>
    <head>
        <title>Index</title>
        <link rel="stylesheet" href="/img/download.png">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>Use this Website to view your Weather</p>
            <form action="">
                <input type="text" placeholder="Location">
                <button>Search</button>
            </form>
            <p id="message-1"></p>
            <p id="message-2"></p>
        </div>
        <div>
            {{>footer}}
        </div>
        <script src="/js/app.js"></script>
    </body>
</html>